*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
svg{
    path {
        fill:white;
    }
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
    visibility: hidden;
}
.title-h1{
    text-transform: capitalize;
    font-size: 50px;
    color: #fff;
    @media (max-width:992px) {
        font-size: 40px;
    }
    @media (max-width:767px) {
        font-size: 30px;
    }
}
//Variables
$bs-green: #198754;
$bs-teal: #20c997;
$bs-indigo: #6610f2;
$bs-purple: #6f42c1;
$color-text:#00000095;
.pad{
    padding: {
        left: 5%;
        right: 5%;
    }
}
#landing-page{
    width: 100%;
    height: 100vh;
    background-color: $bs-indigo;
    padding-top: 1%;
    position: relative;
    .navbar{
        background-color: transparent !important;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        @extend .pad;

        .navbar-brand{
            font-size: 30px;
            font-weight: bold;
            text-transform: uppercase;
            color: #fff;
        }
        .nav-link{
            color: #fefefe;
            text-transform: uppercase;
            position: relative;
            padding: {
                left: 10px;
                right: 10px;
            }
            &::after{
                position: absolute;
                content: "";
                width: 10%;
                height: 2px;
                background-color: $bs-teal;
                top: 100%;
                left: 10px;
                opacity: 0;
                transition-duration: 0.5s;
            }
            &:hover{
                color: $bs-teal;
                &::after{
                    opacity: 1;
                    width: 80%;
                }
            }
            &.active{
                color: $bs-teal;
            }
        }
        .whatsapp{
            width: 250px;
            height: 50px;
            display: block;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            cursor: pointer;
            float: right;
            span{
                border: 2px #fff solid;
                border-radius: 25px;
                padding: 3%;
                font-size: 15px;
                font-weight: bold;
                color: #fff;
                transition-duration: 0.5s;
                &:hover{
                    border-color: $bs-green;
                    color: $bs-green;
                }
            }
            svg{
                width: 30px;
                height: 30px;
                padding: 3%;
                background-color: #fff;
                border-radius: 50%;
                transition-duration: 0.5s;
                &:hover{
                    background-color: $bs-green;
                    color: #fff;
                }
            }
            @media (max-width:992px) {
                display: none;
            }
        }
        button{
            display: none;
            @media (max-width:992px) {
                display: block;
            }
        }
        @media (max-width:992px) {
            background-color: #fefefe !important;
            .navbar-brand{
                color: #000;
            }
            .nav-link{
                color: #000;
                &::after{
                    display: none;
                }
            }
        }
    }
    .content{
        width: 100%;
        height: 75%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        @extend .pad;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .text{
            width: 50%;
            height: 50%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: flex-start;
            img{
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
            h1{
                margin-left: 2%;
                text-transform: capitalize;
                background-color: #fff;
                padding: 2% 5%;
                border-radius: 30px;
                font-size: 40px;
            }
            h2{
                width: auto;
                color: $bs-teal;
                background-color: #fff;
                border-radius: 30px;
                padding: 2% 5%;
                font-size: 30px;
                &::first-letter{
                    text-transform: uppercase;
                }
            }
            button{
                background-color: $bs-teal;
                color: #fff;
                padding: 2% 4%;
                border: none;
                border-radius: 20px;
                font-size: 17.5px;
                transition-duration: 0.5s;
                font-weight: bold;
                &::first-letter{
                    text-transform: uppercase;
                }
                &:hover{
                    background-color: $bs-purple;
                }
            }
        }
        >img{
            width: 350px;
            height: 350px;
            background-color: #fff;
            border-radius: 50%;
            @media (max-width:992px) {
                display: none;
            }
        }
        @media (max-width:992px) {
            .text{
                width: 100%;
                h1{
                    font-size: 30px
                }
                h2{
                    width: 100%;
                }
                button{
                    font-size: 15px;
                }
            }
        }
        @media (max-width:767px){
            .text{
                img{
                    width: 80px;
                    height: 80px;
                }
                h1{
                    font-size: 22.5px;
                }
                h2{
                    font-size: 20px;
                }
                button{
                    font-size: 13.5px;
                }
            }
        }
    }
}
#About{
    width: 100%;
    height: 1400px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 30% 20%;
    margin: {
        top: 5%;
        bottom: 5%;
    }
    
    .Part-1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @extend .pad;
        .text{
            width: 47.5%;
            height: 80%;
            .title{
                width: 100%;
                height: 30%;
                background-color: $bs-green;
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: space-around;
                border-radius: 10px;
                margin-bottom: 2%;
                img{
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                }
                h1{
                    @extend .title-h1;
                }
                
            }
            h2{
                font-size: 35px;
                margin-bottom: 2.5%;
            }
            p{
                color: $color-text;
                font-size: 17.5px;
                line-height: 1.5;
            }
        }
        >img{
            width: 47.5%;
            height: 50%;
            border-radius: 15px;
        }
    }
    .Part-2{
        background-color: #0000000b;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        @extend .pad;
        table{
            width: 50%;
            height: 80%;
            // background-color: rgba(255, 255, 0, 0.345);
            border: 1px #0000003f solid;
            tr{
                th{
                    text-transform: capitalize;
                    padding-left: 5%;
                    font-size: 20px;
                }
                td{
                    border: 1px #0000003f solid;
                    padding-left: 5%;
                    text-transform: capitalize;
                    &:first-child{
                        font-weight: bold;
                        color: $bs-green;
                        width: 30%;
                    }
                    &:last-of-type{
                        color: $color-text;
                    }
                }
            }
        }
        .values{
            width: 45%;
            height: 80%;
            // background-color: rgba(255, 255, 0, 0.345);
            display: flex;
            flex-wrap: wrap;
            >div{
                width: 50%;
                height: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                span{
                    font-size: 50px;
                    font-weight: bold;
                }
                p{
                    text-transform: capitalize;
                    color: $bs-green;
                    font-size: 20px;
                }
            }
        }
    }
    .Part-3{
        // background-color: yellow;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        @extend .pad; 
        h2{
            text-transform: capitalize;
        }
        .content{
            width: 100%;
            height: 70%;
            // background-color: red;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            img{
                width: 100px;
                height: 100px;
            }
        }
    }
    @media (max-width:992px) {
        height: 1800px;
        .Part-1{
            flex-direction: column;
            >img{
                width: 100%;
                height: 40%;
            }
            .text{
                width: 100%;
                height: 55%;
                .title{
                    img{
                        width: 120px;
                        height: 120px;
                    }

                }
            }
        }
        .Part-2{
            flex-direction: column;
            table{
                width: 100%;
                height: 45%;
            }
            .values{
                width: 100%;
                height: 45%;
                div{
                    span{
                        font-size: 40px;
                    }
                    p{
                        font-size: 15px;
                    }
                }
            }
        }
        .Part-3{
            h2{
                font-size: 17.5px;
            }
        }
    }
    @media (max-width:767px) {
        height: 1800px;
        .Part-1{
            flex-direction: column;
            >img{
                width: 100%;
                height: 40%;
            }
            .text{
                width: 100%;
                height: 55%;
                .title{
                    img{
                        width: 100px;
                        height: 100px;
                    }
                }
                h2{
                    font-size: 25px;
                }
                p{
                    font-size: 15px ;
                }
            }
        }
        .Part-2{
            flex-direction: column;
            table{
                width: 100%;
                height: 45%;
            }
            .values{
                width: 100%;
                height: 45%;
                div{
                    span{
                        font-size: 30px;
                    }
                    p{
                        font-size: 13.5px;
                    }
                }
            }
        }
        .Part-3{
            h3{
                font-size: 15px;
            }
            .content{
                flex-wrap: wrap;
                img{
                    width: 150px;
                }
            }
        }
    }
}
#Services{
    width: 100%;
    height: 1200px;
    @extend .pad;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #0000000b;
    @media (max-width:767px){
        height: 1500px;
    }
    .title{
        width: 100%;
        height: 200px;
        background-color: $bs-green;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin-right: 20px;
        }
        h1{
            @extend .title-h1;
        }
        @media (max-width:992px) {
            height: 180px;
            img{
                width: 120px;
                height: 120px;
            }
        }
        @media (max-width:767px) {
            height: 150px;
            img{
                width: 100px;
                height: 100px;
            }
        }
    }
    .content{
        width: 100%;
        height: 75%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-between;
        >div{
            width: 47.5%;
            height: 47.5%;
            background-color: #fff;
            padding: 5%;
            border-radius: 20px;
            transition-duration: 0.5s;
            position: relative;
            overflow: hidden;
            border-radius: 20px;
            transition-duration: 0.5s;
            h1{
                float: left;
                text-transform: capitalize;
            }
            span{
                float: right;
                background-color: $bs-purple;
                position: relative;
                padding: 1% 4%;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                font-size: 15px;
                color: #fff;
                transition-duration: inherit;
                >span{
                    width: 40px;
                    height: 40px;
                    background-color: $bs-teal;
                    position: absolute;
                    border-radius: 50%;
                    right: 0%;
                    top: 0%;
                    transform: translate(50%,-50%);
                    transition-duration: inherit;
                }
            }
            hr{
                width: 100%;
            }
            p{
                color: $color-text;
                font-size: 17.5px;
            }
            button{
                width: 140px;
                height: 40px;
                border-radius: 20px;
                border: 1px #00000095 solid;
                background-color: transparent;
                color: $color-text;
                font-weight: bold;
                text-transform: capitalize;
                font-size: 15px;
                transition-duration: 0.5s;
                &:hover{
                    background-color: $bs-green;
                    color: #fff;
                    border: none;
                }
            } 
            svg{
                width: 100px;
                height: 200px;
                box-shadow: 0px 0px 1px 2px #0000000f;
                padding: 10%;
                position: absolute;
                right: 0%;
                bottom: 0%;
                transform: translateY(30%) rotate(-45deg);
                border-radius: 20px;
                transition-duration: 0.5s;
            }
            &:hover{
                box-shadow: 0px 0px 1px 5px #00000032;
                border: 5px $bs-teal solid;
                >span{
                    background-color: $bs-teal;
                    >span{
                        background-color: $bs-purple;
                    }
                }
                svg{
                    background-color: $bs-teal;
                    color: #fff;
                    box-shadow: none;
                }
            }
        }
        @media (max-width:992px) {
            >div{
                h1{
                    font-size: 30px;
                }
                span{
                    font-size: 12px;
                    >span{
                        width: 30px;
                        height: 30px;
                    }
                }
                p{
                    font-size: 15px;
                }
                button{
                    width: 120px;
                    height: 30px;
                    font-size: 13.5px;
                }
                svg{
                    width: 80px;
                    height: 180px;
                }
            }
        }
        @media (max-width:767px){
            >div{
                width: 100%;
                height: 22.5%;
                svg{
                    width: 50px;
                    height: 80px;
                }
            }
        }
    }
    @media (max-width:767px){
        .content{
            height: 85%;
        }
    }
}
#Projects{
    width: 100%;
    height: 800px;
    @extend .pad;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: {
        top: 40px;
        bottom: 40px;
    }
    .title{
        width: 100%;
        height: 200px;
        background-color: $bs-green;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        img{
            width: 150px;
            height: 150px;
            margin-right: 20px;
            border-radius: 50%;
            @media (max-width:992px) {
                width: 120px;
                height: 120px;
            }
            @media (max-width:767px) {
                width: 100px;
                height: 100px;
            }
        }
        h1{
            @extend .title-h1;
        }
        @media (max-width:992px) {
            height: 180px;
        }
        @media (max-width:767px) {
            height: 150px;
        }
    }
    .content{
        width: 100%;
        height: 70%;
        display: grid;
        grid-template-columns: repeat(3,calc(95% / 3));
        grid-template-rows: 90%;
        align-content: center;
        justify-content: space-between;
        >div{
            background-color: #00000006;
            // background-color: #fff;
            border-radius: 20px;
            padding: 10%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition-duration: 0.5s;
            overflow: hidden;
            .text{
                h6{
                    font-size: 15px;
                    text-transform: capitalize;
                    color: $bs-green;
                }
                h1{
                    font-size: 30px;
                    text-transform: capitalize;
                }
            }
            >img{
                border-radius: inherit;
                width: 100%;
                height: 80%;
                transform: translateY(25%) rotate(10deg);
                transform-origin: 0% 0%;
                transition-duration: 0.5s;
            }
            &:hover{
                border: 3px $bs-green solid;
                img{
                    transform: translateY(0%) rotate(0deg);
                }
            }
        }
    }
    @media (max-width:767px) {
        height: 1400px;
        .content{
            height: 85%;
            grid-template-columns: 100%;
            grid-template-rows: repeat(3,calc(90% / 3));
            align-content: space-between;
            >div{
                padding: 5% !important;
            }
        }
    }
}
#Contact{
    width: 100%;
    height: 700px;
    background-color: #0000000b;
    @extend .pad;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .title{
        width: 100%;
        height: 200px;
        background-color: $bs-green;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        @media (max-width:992px) {
            height: 180px;
        }
        @media (max-width:767px) {
            height: 150px;
        }
        h1{
            @extend .title-h1;
        }

        img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin-right: 20px;
            @media (max-width:992px) {
                width: 120px;
                height: 120px;
            }
            @media (max-width:767px) {
                width: 100px;
                height: 100px;
            }
        }
    }
    >.content{
        width: 100%;
        height: 75%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        form{
            width: calc(95% / 2);
            height: 90%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: space-between;
            justify-content: space-between;
            input{
                &:not([type="submit"]){
                    width: 47.5%;
                    height: 10%;
                    border: 2px #00000016 solid;
                    border-radius: 5px;
                    outline: none;
                    padding-left: 2%;
                    font-size: 13.5px;
                    transition-duration: 0.5s;
                    &::placeholder{
                        text-transform: capitalize;
                        font-size: 15px;
                    }
                    &:focus{
                        border: 2px $bs-green solid;
                    }
                }
                &[type="submit"]{
                    width: 25%;
                    height: 10%;
                    transition-duration: 0.5s;
                    font-size: 15px;
                    text-transform: uppercase;
                    color: #fff;
                    background-color: $bs-green;
                    border: none;
                    border-radius: 30px;
                    font-weight: bold;
                    letter-spacing: 0.1em;
                    margin: {
                        left: auto;
                        right: auto;
                    }
                    &:hover{
                        background-color: $bs-purple;
                    }
                }
            }
            span{
                width: 20%;
                height: 20%;
                background-color: #fff;
                border: 2px #00000016 solid;
                border-radius: 5px;
                outline: none;
                padding: 4%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                transition-duration: 0.25s;
                cursor: default;
                svg{
                    color: $bs-green;
                    width: 20px;
                    height: 20px;
                }
                p{
                    color: $color-text;
                    text-transform: capitalize;
                    font-size: 15px;
                }
                &:hover{
                    border: 2px $bs-green solid;
                }
            }
            textarea{
                width: 100%;
                height: 40%;
                border: 2px #00000016 solid;
                border-radius: 5px;
                outline: none;
                padding-left: 2%;
                padding-top: 2%;
                font-size: 13.5px;
                transition-duration: 0.5s;
                &:focus{
                    border: 2px $bs-green solid;
                }
                &::placeholder{
                    text-transform: capitalize;
                    font-size: 15px;
                }
            }
        }
        .text{
            width: calc(95% / 2);
            height: 90%;
            background-color: #fff;
            display: grid;
            grid-template-columns: repeat(2,calc(95% / 2));
            grid-template-rows: 30% 15% 15%;
            row-gap: 15%;
            column-gap: 5%;
            padding: 2%;
            border-radius: 5px;
            >div{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                h5{
                    text-transform: uppercase;
                    font-size: 15px;
                }
                .content{
                    width: 100%;
                    height: 50%;display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    span{
                        border: 1px #76767695 solid;
                        border-radius: 20px;
                        width: auto;
                        height: 25px;
                        padding: 1% 5%;
                        margin-right: 5px;
                        margin-bottom: 5px;
                        cursor: pointer;
                        transition-duration: 0.5s;
                        font-size: 12px;
                        &:hover{
                            background-color: $bs-teal;
                            color: #fff;
                        }
                    }
                    svg{
                        width: 20px;
                        height: 20px;
                        // background-color: red;
                        margin-right: 5px;
                        border: 1px #76767695 solid;
                        transition-duration: 0.5s;
                        border-radius: 50%;
                        padding: 3%;
                        cursor: pointer;
                        &:hover{
                            background-color: $bs-teal;
                            border: none;
                            color: #fff;
                        }
                    }
                }
                p{
                    font-size: 15px;
                    color: $color-text;
                    margin-bottom: 0%;
                }
                a{
                    color: $color-text;
                    &:hover{
                        color: $bs-green;
                    }
                }
            }
        }
    }
    @media (max-width:992px) {
        height: 1200px;
        .content{
            height: 80%;
            flex-direction: column;
            form{
                width: 100%;
                height: 50%;
                span{
                    padding: 1% !important;
                }
            }
            .text{
                width: 100%;
                height: 40%;
            }
        }
    }
    @media (max-width:767px) {
        height: 1300px;
        .content{
            form{
                input{
                        &:not([type="submit"]){
                            width: 100% !important;
                            height: 10% !important;
                            }
                        &[type="submit"]{
                            width: 100% !important;
                        }
                    }
                span{
                    width: 45%;
                    height: 15%;
                    padding: 5% !important;
                }
                textarea{
                    height: 30%;
                }                    
                }
            .text{
                div{
                    h5{
                        font-size: 12px;
                    }
                    p{
                        font-size: 13.5px;
                    }
                    a{
                        font-size: 13.5px;
                    }
                    svg{
                        width: 15px !important;
                        height: 15px !important;
                    }
                }
            }
        }
        
    }
}
.footer{
    margin-top: 20px;
    width: 100%;
    height: 100px;
    @extend .pad;
    color: $color-text;
    text-transform: capitalize;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    span{
        font-weight: bold;
        cursor: pointer;
        &:hover{
            color: $bs-green;
        }
    }
    @media (max-width:992px) {
        font-size: 13.5px;
    }
    @media (max-width:767px) {
        flex-direction: column;
        justify-content: space-evenly;
    }
}